{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Outdoor Furniture on Groundhog Day{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h1>Result</h1>
  <table border="1">
    <thead>
    <tr>
      <th>Year</th>
      <th>Total Sold Number</th>
      <th>Average Sold Number</th>
      <th>Sold Number on Groundhog Day</th>
    </thead>
    <tbody>
    {% for row in summary %}
      <tr>
        {% for d in row %}
{#	  {% if loop.index == 1 %}#}
{#	    <td><a href="{{ url_for('manufacturers_product.drill', manufacturer_name=d) }}">{{ d }}</a></td>#}
{#	  {% else %}#}
            <td>{{ d }}</td>
{#	  {% endif %}#}
	    {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
